@import url("https://fonts.googleapis.com/css2?family=Fredoka");
@import "tailwindcss";

* {
	font-family: "Fredoka", "Inter", sans-serif;
}

body {
	background-image: url("/images/checkerboard-cross.png");
	/* background-position: center; */
}

.title-banner {
	position: relative;
	color: white;
	padding: 0.75rem 2rem;
	display: inline-block;
	font-weight: 800;
	/* clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%); */
	background: linear-gradient(to right, #8a2be2, #a966f7);
	transform: skewX(-12deg);
}

.loader img {
	animation: zoomInOut 2s infinite ease-in-out;
}

@keyframes zoomInOut {

	0%,
	100% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}
}

.bg-1-Hitam {
	background: #808080;
}

.bg-1-Pink {
	background: #fd98cd;
}

.bg-1-Hijau {
	background: #70f1c2;
}

.bg-1-Biru {
	background: #7eb8ff;
}

.bg-1-Merah {
	background: #ff9898;
}

.bg-1-Kuning {
	background: #f1db82;
}

.bg-1-Napas {
	background: #e9e3c3;
}

.bg-1-Jragem {
	background: #686868;
}

.bg-1-Bopong {
	background: #f5a770;
}

.bg-1-Kelabu {
	background: #e4e4e4;
}

.bg-2-Hitam {
	background: #474747;
}

.bg-2-Pink {
	background: #ec4899;
}

.bg-2-Hijau {
	background: #10b981;
}

.bg-2-Biru {
	background: #3b82f6;
}

.bg-2-Merah {
	background: #ef4444;
}

.bg-2-Kuning {
	background: #eab308;
}

.bg-2-Napas {
	background: #888056;
}

.bg-2-Jragem {
	background: #3a3a3a;
}

.bg-2-Bopong {
	background: #8b4513;
}

.bg-2-Kelabu {
	background: #bbb286;
}